# Copia este archivo como .env.local para desarrollo. En Vercel, define las mismas variables.
VITE_SUPABASE_URL=https://xfbkwpdzocaqgaogdzzh.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_A7FHnswCNKT6SFOS722a4w_Cc1TPGMc
